@{
    ViewData["Title"] = "Access Denied";
}

<div class="page-single-2">
    <div class="container">
        <div class="row">
            <div class="middle-content">
                <a style="margin-top:120px"><img class="md-logo" src="" alt=""></a>
                <img src="" alt="" style="width:40%">
                <h1>Access Denied</h1>
                <h1>You do not have permission to access this page.</h1>
                <a href="@ViewBag.returnUrl" class="redbtn" style="margin:20px">Return previous page</a>
                <a href="/" class="redbtn" style="margin:20px">go home</a>
            </div>
        </div>
    </div>
</div>