@using Microsoft.AspNetCore.Identity
@using Movie247.Areas.Identity.Data

@inject SignInManager<Movie247User> _signInManager

<div class="row">
    <p>Or via social</p>
    @if (((await _signInManager.GetExternalAuthenticationSchemesAsync()).ToList()?.Count ?? 0) != 0)
    {
            <form id="external-account" method="post" class="form-horizontal social-btn-2"
          action="/ExternalLogin/OnPost?returnUrl=@ViewBag.ReturnUrl" role="form">
            @foreach (var provider in (await
          _signInManager.GetExternalAuthenticationSchemesAsync()).ToList())
            {
                        <button type="submit" class="btn btn-primary" name="provider"
                value="@provider.Name" style="margin: 0px 4px;"
                title="Log in using your @provider.DisplayName account">
                    @if (provider.Name == "Google")
                    {
                                    <i class="fa fa-google-plus"></i>
                    }
                    else if (provider.Name == "Facebook")
                    {
                                    <i class="fa fa-facebook"></i>
                    }@provider.DisplayName
                        </button>
            }
            </form>
    }
</div>