@using Microsoft.AspNetCore.Identity
@using Movie247.Areas.Identity.Data

@inject SignInManager<Movie247User> SignInManager
@inject UserManager<Movie247User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            Hello
            @UserManager.GetUserName(User)!
        </a>
    </li>
    <li class="nav-item">
        @Html.ActionLink("Logout", "Logout", "User", new {returnUrl = @Url.Action("Index", "Home", new { area = "" })}, new {@class="nav-link text-dark"})
    </li>
}
else
{
    <li class="nav-item loginLink">
        <a class="nav-link text-dark" id="login">Login</a>
    </li>
    <li class="nav-item btn signupLink">
        <a class="nav-link text-dark" id="register">Register</a>
    </li>
}















