@using Microsoft.AspNetCore.Identity
@using Movie247.Areas.Identity.Data

@inject SignInManager<Movie247User> SignInManager
@inject UserManager<Movie247User> UserManager
<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct" style="display: flex;flex-direction: column;align-items: end;">
                    <h1>
                        @UserManager.GetUserName(User) Profile
                    </h1>
                    @if (await UserManager.IsEmailConfirmedAsync((Movie247User)await UserManager.GetUserAsync(User)))
                    {
                        <h5 style="color: green;">Email Confirmed</h5>
                    }
                    else
                    {
                        <a href="/Account/ReConfirmEmail">
                            <h5 style="color: red;">Email Not Confirmed - Click Here to Confirm</h5>
                        </a>
                    }
                    <ul class="breadcumb" style="margin-top: 10px;">
                        <li><a href="/">Home</a></li>
                        <li class="active"> <span class="ion-ios-arrow-right"></span><a>@ViewData["Title"]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>